$primary-color : red; // Définition d'une variable pour la couleur primaire, ici utilisée comme rouge
$secondary-color : pink; // Définition d'une variable pour la couleur secondaire, ici utilisée comme rose
$text-color : green; // Définition d'une variable pour la couleur du texte, ici utilisée comme vert