/* Réinitialisation des marges et des paddings par défaut et définition de la police pour tout le document */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
/* Style pour l'en-tête (header), fond noir avec une hauteur maximale de 10% de la hauteur de la fenêtre */
header {
    background-color: black;
    max-height: 10vh;
}

/* Navigation (nav) en mode flex pour espacer les éléments */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    /* Largeur de la fenêtre entière */
    min-height: 100%;
    /* Hauteur minimale égale à 100% */
    max-height: 100%;
    /* Hauteur maximale égale à 100% */
}

/* LOGO */
/* Style pour le conteneur du logo, avec une hauteur de 5% de la fenêtre et un alignement centré verticalement */
.imgLogo {
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 30px;
    /* Espace à gauche du logo */
}

/* Style pour l'image du logo, réduite à 70% de la hauteur du conteneur */
.imgLogo img {
    height: 70%;
}

/* NAVIGATION */
/* Liste de navigation en ligne grâce au flexbox */
.listNav ul {
    display: flex;
}

/* Suppression du style de liste (points) pour chaque élément de la liste */
.listNav ul li {
    list-style: none;
    padding: 10px;
    font-size: x-small;
}

/* Liens dans la navigation, en blanc et sans soulignement */
.listNav ul li a {
    text-decoration: none;
    color: white;
}

/* Effet hover sur les liens, changement de couleur en oranger */
.listNav li a:hover {
    color: orangered;
}

/* BOUTON DEVIS */
/* Style pour le bouton "Devis", centré avec une couleur de fond oranger et une petite taille de texte */
.devis {
    background-color: orangered;
    font-size: 7px;
    min-width: 13vw;
    /* Largeur minimale */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    /* Hauteur fixe de 5% de la hauteur de la fenêtre */
}

/* MAIN */
/* SECTION UNE */
/* Conteneur de la première section avec un affichage flex pour centrer le contenu */
.sectionUne {
    display: flex;
    justify-content: center;
}

/* Contenu de gauche avec fond oranger, centré verticalement et horizontalement */
.left {
    background-color: orangered;
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Titre h1 dans le côté gauche, en blanc et de grande taille */
.left h1 {
    color: white;
    font-size: 50px;
}

/* Contenu de droite avec fond gris clair, également centré */
.right {
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
}

/* Paragraphe dans la partie droite avec une petite taille de police */
.right p {
    font-size: small;
}

/* SECTION DEUX */
/* Deuxième section avec du padding autour et un affichage flex pour centrer les blocs */
.sectionDeux {
    padding: 40px;
    display: flex;
    justify-content: center;
    height: 400px;
}

/* Bloc orange à gauche avec une hauteur fixe de 200px */
.blocOrange {
    background-color: orangered;
    height: 200px;
}

/* Bloc noir à droite avec du texte blanc et une hauteur de 200px */
.blocNoir {
    background-color: black;
    color: white;
    height: 200px;
}

/* SECTION TROIS */
/* Troisième section avec un fond oranger, centrée verticalement et horizontalement */
.sectionTrois {
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100vw;
}

/* Conteneur pour le formulaire de devis */
.devisParent {
    width: 50vw;
}

/* Titre h2 dans la section devis, texte blanc avec un padding à droite */
.devisLeft h2 {
    color: white;
    font-size: 40px;
    padding-right: 100px;
}

/* Paragraphe dans la section devis avec une petite taille de texte */
.devisLeft p {
    font-size: x-small;
}

/* Bouton d'envoi dans la section devis, fond noir et texte blanc */
#envoyerBtn {
    background-color: black;
    color: white;
}

/* FOOTER */
/* Conteneur du footer, prenant toute la largeur de la fenêtre */
.footer {
    width: 100vw;
}

/* Fond noir pour le footer principal */
.container {
    background-color: black;
}

/* Partie supérieure du footer avec un espacement égal entre les éléments */
.footTop {
    display: flex;
    justify-content: space-evenly;
    color: white;
    /* Texte blanc */
}

/* Liens de ressources dans le footer, sans soulignement */
.linkRessource a {
    text-decoration: none;
    color: white;
}

/* FOOTER BAS */
/* Partie inférieure du footer, avec les éléments espacés */
.footBot {
    display: flex;
    justify-content: space-between;
}

/* Texte de copyright en blanc */
.copy p {
    color: white;
}

/* CONTACT.HTML */
/* Conteneur centré pour le contact */
.midTop {
    display: flex;
    justify-content: center;
}

/* Adresse dans la partie contact, alignée à droite avec un padding */
.midAddress {
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 80px;
}

/* Titre pour l'adresse avec une grande taille de police */
.midAddress h3 {
    font-size: 40px;
}

/* Coordonnées dans la partie contact, alignées à gauche avec un padding */
.midCoordonner {
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 80px;
}

/* Texte des coordonnées avec une petite taille de police */
.midCoordonner p {
    font-size: 12px;
}

/* Carte de localisation dans la section contact */
.midMap {
    width: 100vw;
}

/* Image de la carte occupant toute la largeur */
.midMap img {
    width: 100%;
}

/* Section inférieure du contact, centrée avec alignement en colonne */
.midBot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
}

/* Titre h3 pour la partie contact */
.midBot h3 {
    font-size: 40px;
}

/* Affichage des secteurs avec un espacement entre eux */
.secteur {
    display: flex;
    gap: 100px;
}

/* Texte des secteurs avec une petite taille de police */
.secteur p {
    font-size: 12px;
}